
PaR/db
PaR/incremental_db
PaR/simulation
PaR/mentor
PaR/greybox_tmp
PaR/output_files/*
PaR/*.rpt
# PaR/*.qpf
# PaR/*.qsf
PaR/*.qdf

!PaR/output_files/*.pin
!PaR/output_files/*.sof
!PaR/*.sdc
!PaR/Project_Build.tcl

sim/work
sim/*.mti
sim/*.mpf
sim/transcript